body {
  font-family: 'Indie Flower';
}

.main-container {
  background-color: #f1f0e3;
  width: 500px;
  min-height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  border-radius: 3%;
  box-shadow: 5px 10px 5px #888888;
  margin-top: 70px;
}

.main-title {
  text-align: center;
  margin-top: 7px;
  text-transform: uppercase;
  font-size: 40px;
}

.todo-list {
  font-size: 30px;
  margin-left: 20px;
}

.todo-list:hover {
  color: red;
  cursor: pointer;
}

.todo-list, span {
  margin-right: 10px;
}

.todo-done {
  text-decoration: line-through;
  color: red;
}

.sub-todo {
  font-size: 25px;
  margin-left: 40px;
}

.pull-right {
  position: absolute;
  margin-top: -35px;
  right: 20px;
}

.new-todo {
  position: absolute;
  top: -29px;
  right: 20px;
  background-color: #ce9b3f;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  z-index: 2;
}

.new-todo:hover {
  top: -35px;
  padding-bottom: 6px;
  transition: 0.5s;
  z-index: 10;
}

.clear-todo {
  position: absolute;
  top: -29px;
  right: 70px;
  background-color: red;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  cursor: pointer;
  z-index: 1;
}

.clear-todo:hover {
  top: -35px;
  padding-bottom: 6px;
  transition: 0.5s;
  z-index: 10;
}

.remove-todo {
  position: absolute;
  margin-top: -35px;
  left: -55px;
  background-color: red;
  padding-left: 10px;
  padding-right: 5px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  cursor: pointer;
}

.remove-todo:hover {
  left: -70px;
  transition: 0.5s;
  padding-right: 20px;
}
